html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  font-size: 13px;
}

body {
  background-image: url(https://images.unsplash.com/photo-1628841220750-52e52714bb11?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.main-container {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-wrapper {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.side_container {
  color: white;
  margin-top: 30px;
  margin-left: 15px;
  width: 25%;
  height: 93vh;
  border-color: #23232e;
  border-style: solid;
  background-color: #23232e;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  left: 0;
}

@media (min-width: 769px) { /* Apply on desktop (adjust the breakpoint as needed) */
  .side_container {
    opacity: 0.9; /* Adjust the opacity for desktop */
  }
}


.side_container::-webkit-scrollbar {
  display: none;
}

.side_container {
  scrollbar-width: none;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

.side_elements {
  text-align: center;
  margin-top: 45px;
}

.essentials {
  text-align: left;
}

.essentials ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: white;
}

hr {
  width: 85%;
}

.tools {
  text-align: left;
}

.tools ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: white;
}

.windup_link {
  text-decoration: none;
  text-align: center;
  color: white;
  
}

.middle_container {
 
  border-color: #23232e;
  background-color: #23232e;
  background-image: url(https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
}

.middle_container > * {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.middle_section {
  flex: 0 0 auto;
  margin-bottom: 20px;
}

.middle_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.middle_container > * {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.middle_container img {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 285px;
  height: 300px;
  z-index: 3;
  max-width: 100%; /* added this line */
}

.middle_profile {
  color: white;
  margin-left: 65px;
  margin-top: 75px;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: left;
}

.middle_followup {
  color: white;
  margin-left: 65px;
  margin-top: -8px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  font-size: 30px;
}

button {
  background-color: #a99d6b;
  width: 150px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 65px;
  margin-top: 15px;
  font-weight: 700;
  cursor: pointer;
  color: black;
  font-size: 800;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button:hover {
  background-color: #91865a;
}

.middle_and_paragraph {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.paragraph_section {
  flex: 0 0 auto;
  margin-bottom: 20px;
}

.paragraph_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.paragraph {
  color: white;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  gap: 24px;
  align-items: center;
}

.paragraph .number {
  display: inline-flex;
  align-items: baseline;
  font-size: 15px;
  color: #a99d6b;
}

.paragraph sup {
  font-size: 18px;
  vertical-align: top;
  margin-right: 3px;
  color: #a99d6b;
}

.paragraph span {
  color: white;
}

.services_section {
  flex: 1;
  width: 100%;
  margin-top: 20px;
}

.services_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.service_card {
  background-color: #2c2c38;
  color: white;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: left;
  box-sizing: border-box;
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

@media (min-width: 769px) { /* Apply on desktop (adjust the breakpoint as needed) */
  .service_card {
    opacity: 0.8; /* Adjust the opacity for desktop */
  }
}

.service_card:hover {
  transform: scale(1.025); /* Slightly enlarge the card on hover */
  border-radius: 8px; /* Add border radius on hover */
}

.service_card h5 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #a99d6b;
}

.service_card p {
  font-size: 14px;
  line-height: 1.6;
}

.content-container {
  flex: 1;
  height: 93.5vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  padding-right: 1%;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 30px;
}

.contact-button {
  display: inline-block;
  background-color: #25d366;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #1ebe57;
}

.contact-link {
  color: #a99d6b;
  text-decoration: none;
  font-weight: bold;
  margin-top: 5px;
  display: inline-block;
  font-size: 12px;
}

.contact-link:hover {
  text-decoration: underline;
}

.stack {
  text-align: center;
  margin-top: 20px;
}

.tech-skill {
  margin-bottom: 20px;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.skill-header p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.skill-header .progress-percent {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.progress-bar {
  position: relative;
  background-color: #444;
  border-radius: 5px;
  height: 10px;
  margin: 5px auto;
  width: 80%;
  overflow: hidden;
}

.progress {
  background-color: #a99d6b;
  height: 100%;
  border-radius: 5px;
}

.languages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.language {
  text-align: center;
}

.circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #23232e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 0 0 5px #444, 0 0 0 5px #a99d6b inset;
}

.circle .percentage {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.language p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.profile {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.windup a h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.windup a h4 i {
  margin-left: 8px;
  font-size: 14px;
}

.footer {
  position: sticky;
  bottom: 0;
  background-color: #23232e;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444;
  z-index: 1;
}

.footer_container{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #2c2c38;
  color: white;
  font-weight: bold;
  padding: 10px 5px;
}

.social-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 0 10px;
}

.social-link:hover {
  color: #a99d6b;
}

.about_me-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #23232e;
  color: white;
  margin-left: 15px;
  margin-top: 30px;
  height: 87.5vh;
  width: 75%;
  margin-right: 15px;
  overflow-y: auto;
}

.education_experience_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.education_experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about_me{
  background-color: #2c2c38;
  padding: 20px;
  border-radius: 8px;
  max-width: 100%;
}

.about_me h3{
  color: #a99d6b;
}

.education_card, .experience_card {
  background-color: #2c2c38;
  color: white;
  border-radius: 8px;
  padding: 15px;
  height: auto;
  box-shadow: 0 4px 6px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.education_card:hover, .experience_card:hover{
  transform: scale(1.015); /* Slightly enlarge the card on hover */
}

.education_card h5, .experience_card h5 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #a99d6b;
}

.education_card p, .experience_card p {
  font-size: 14px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .education_experience {
    grid-template-columns: 1fr;
  }
}

.dynamic-text {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 65px;
}

.code-symbol {
  color: white;
  font-family: monospace;
}

.code-tag {
  color: #a99d6b;
  font-family: monospace;
}

#typing-text {
  color: white;
  font-family: monospace;
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: white;
  margin-left: 4px;
  animation: blink 0.7s steps(2, start) infinite;
  box-shadow: none;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.services_header_section{
  color: white;
  margin-top: -1.0rem;
  margin-left: 20px;
}

.services_section {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.services_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.service_card {
  width: calc(33.33% - 20px);
  background-color: #2c2c38;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  box-sizing: border-box;
}

.service-card:hover {
  transform: rotateY(-15deg);
}

.service_card h5 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #a99d6b;
}

.service_card p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 15px;
}

.contact_service {
  color: #a99d6b;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.contact_service:hover {
  text-decoration: underline;
}

.mobile-header {
  display: none; /* Hide on PC */
}


.content-header {
  background-color: #2c2c38;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center; /* Center the navigation */
  align-items: center;
  margin-bottom: 20px; /* Add space below the header */
  justify-content: flex-start; /* Align to the left */
  margin-bottom: -1px;
}

.content-nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px; /* Add horizontal spacing */
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.content-nav a:hover {
  color: #a99d6b;
}

/* Media Query for Mobile Devices (adjust max-width as needed) */
@media (max-width: 768px) {

  body {
    background-color : black;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #23232e;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .mobile-header-left,
  .mobile-header-right {
    font-size: 1.5em;
    cursor: pointer;
  }

  .mobile-menu-toggle {
    color: aliceblue;
  }

  .mobile-about-toggle {
    color: aliceblue;
  }

  .side_container {
    position: fixed;
    top: 4%;
    left: -100%; /* Hide off-screen */
    width: 80%;
    transition: left 0.3s ease;
    z-index: 999;
    margin-left: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 5.5rem;
  }

 hr{
  width: 100%;
 }

  .footer {
    position: fixed; /* Changed to fixed */
    bottom: 0;
    background-color: #23232e;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
    z-index: 1000;
    width: 80%; /* Match side container width */
  }


  .side_container.show {
    left: 0;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 998; /* Below the side_container */
    display: none; /* Initially hidden */
  }

  .overlay.show {
    display: block; /* Show when the 'show' class is added */
  }

  .about-modal {
    display: none;
    position: fixed;
    top: auto; /* changed from 60px */
    bottom: 50px; /* added bottom property */
    right: 10px;
    background-color: transparent; /* changed from white */
    padding: 0; /* added padding 0 */
    border: none; /* added border none */
    z-index: 1001;

  }

  .about-modal.show {
    display: block;
  }

  #about-modal-button {
    padding: 10px 20px; /* changed padding */
    background-color: #232332;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }

  .content-container {
    display: flex;
    margin-left:2%;
    flex-direction: column;
    overflow: y;
    align-items: center;
    margin-top:3%;
  }


  .about_me{
    background-color: #2c2c38;
    padding: 20px;
    display: flex;
    border-radius: 8px;
    position: relative;
  }
  .about_me-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    margin-top:3%;
    background: none;
  }

  .education_experience_section{
    width: 100%;
    margin-left: -3rem;
    height: 100vh;
  }


  .middle_section {
    width: 98%;
    margin-left: 12px;
    margin-right: auto;
    margin-top: 25px;
    box-sizing: border-box; /* Include padding and borders in width */
  }

  .middle_container {
    height: 65vh;
    width: 98%;
  }

  .middle_profile {
    margin-top: 200px;
    margin-bottom: -90px;
    margin-left: 1.8rem;
    font-size: 30px;
  }

  .middle_followup {
    margin-left: 1.8rem;
    font-size: 30px;
    margin-top: 100px;
  }

   .dynamic-text{
    margin-top: 15px;
    margin-left: 1.5rem;
    font-size: 18px;
   }

   .button-wrapper {
    position: absolute; /* Position relative to .middle_container */
    bottom: 30px; /* Adjust as needed */
    margin-top: 15px;
    left: 23%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
  }


  img[alt="Zack Lyula's image"] {
    display: none;
  }

  .paragraph_container{
    margin-left: 5px;
  }
 
  .services_header_section{
    color: white;
    margin-top: -1.5rem;
    margin-bottom: 10px;
    display: flex;
    margin-left: -200px;
    font-size: 15px;
  }

  .services_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -12px;
  }

  .services_container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .service_card {
    width: 95%;
    margin-left: 0.35rem;
  }

  .experience_card,
  .education_card {
    width: 91vw;
    border-radius: 0px;
  }

  .footer_container{
    width: 91vw;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: #2c2c38;
   margin-bottom: 75px;
  }

  .content-header {
    display: none; /* Hide on mobile */
  }
  
* {
    box-sizing: border-box;
}
}